<!-- <!DOCTYPE html>
<html>
<head>
  <title>Student Profile</title>
  <!-- Include bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center mb-5">Student Profile</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card header">
          <div style="width: 50%; margin: 0 auto; text-align: center;">
                <p> Name: <%= student.StudentName %></p>
          </div>
          <div style="width: 50%; margin: 0 auto; text-align: center;">
            <p>Roll Number: <%= student.roll_no %></p>
          </div>
          <div style="width: 50%; margin: 0 auto; text-align: center;">
            <p>Emal: <%= student.email %></p>
          </div>
          <div style="width: 50%; margin: 0 auto; text-align: center;">
            <p>Batch: <%= student.Batch %></p>
          </div>
          <div style="width: 50%; margin: 0 auto; text-align: center;">
            <p>Dues: <%= student.dues_this_month %></p>
          </div>
        </div>
        <a href="/student/home">Back to Home Page</a>
      </div>
    </div>
  </div>
</body>
</html> -->
<!--  -->